{% extends "base.html" %}
{% block title %}案前｜{{ settings.app_name }}{% endblock %}
{% block nav %}<span style="color:var(--tai);font-size:.875rem">{{ master.name }}</span><a href="/master/history">已解紀錄</a><a href="/master/logout">登出</a>{% endblock %}
{% block nav_me %}{% endblock %}
{% block nav_master %}{% endblock %}
{% block main %}
<div class="board" id="board">
  <section><h2 class="col-head">書寫中<span id="n-drafting"></span></h2><div id="col-drafting"></div></section>
  <section><h2 class="col-head">待解<span id="n-submitted"></span></h2><div id="col-submitted"></div></section>
  <section><h2 class="col-head">已解<span id="n-answered"></span></h2><div id="col-answered"></div>
    <a class="btn on-yan" href="/master/history" style="width:100%">查看全部已解紀錄</a></section>
</div>
{% endblock %}
{% block scripts %}
<script type="module" src="/static/js/master-board.js?v={{ asset_v }}"></script>
{% endblock %}
